/* Slider container */
.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  /* background-color: var(--px-slider); */
  padding: 15px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Track for sliding elements */
.slide-track {
  display: flex;
  flex-wrap: nowrap;
  width: calc(100% * 1); /* Adjusted to show 5 slides at once */
  animation: scroll 10s linear infinite;
  animation-delay: 1s; /* Delay before scrolling starts */
}

/* Individual slide */
.slide {
  flex: 0 0 20%; /* Show 5 slides at a time */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

/* Styling for the links */
.languageiconlink {
  text-decoration: none;
  font-size: 16px;
  color: var(--px-white);
  font-weight: 500;
  transition: color 0.3s ease;
}
.langutxat {
  display: block;
}

.languageiconlink:hover {
  color: var(--px-theme);
}

/* Icon styles */
.languageiconmarquee {
  font-size: 48px;
  margin-bottom: 8px;
  transition: transform 0.3s ease;
}

.languageiconmarquee:hover {
  transform: scale(1.2);
}

/* Keyframes for infinite scrolling */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      -20%
    ); /* Scroll 1 slide at a time (for seamless loop) */
  }
}

@media (max-width: 600px) {
  .slide {
    flex: 0 0 20%; /* Show 5 slides at a time */
    margin: 5px; /* Add spacing between slides */
  }

  .languageiconmarquee {
    font-size: 35px; /* Adjust font size for smaller screens */
  }
}

/* ==============my project slider */
.project-img {
  max-width: 400px;
  /* position: absolute; */
}
.project-img img {
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}
.card1 {
  position: relative;
}
.iocn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 65px;
  height: 65px;
  background: var(--px-slider);
  border-top-left-radius: 50%;
  padding: 30px;
}

.iocn-box {
  position: absolute;
  inset: 15px;
  background: var(--px-white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in;
  text-decoration: none;
}

.card-inner {
  position: relative;
  width: inherit;
  height: 263px;
  background: var(--clr);
  border-radius: 1.25rem;
  border-bottom-right-radius: 0;
  overflow: hidden;
}

.box {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 1.25rem;
  overflow: hidden;
}
.iocn-box:hover {
  background-color: var(--px-theme);
  color: var(--px-white);
  transform: rotate(360deg);
}
